# Extract features, retrain Sherlock and generate predictions.

The script below first downloads the data (roughly 700K samples), then extract features from the raw data values. <br>
If you want to skip this step, you can follow the steps below the feature extraction to load the preprocessed data, 
retrain Sherlock and generate predictions.

In [1]:
import sys

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import f1_score
import tensorflow as tf

from sherlock import helpers
from sherlock.features.preprocessing import extract_features, convert_string_lists_to_lists, prepare_feature_extraction 
from sherlock.features.preprocessing import extract_features_chars, extract_features_embed, extract_features_words, extract_features_paras,extract_features_multi_thread
from sherlock.deploy.train_sherlock import train_sherlock
from sherlock.deploy.predict_sherlock import predict_sherlock

## Read in raw data
You can skip this step if you want to use a preprocessed data file.

In [2]:
train_samples = pd.read_parquet('../data/data/raw/train_values.parquet')
train_labels = pd.read_parquet('../data/data/raw/train_labels.parquet')
print(len(train_labels))

412059

In [3]:
validation_samples = pd.read_parquet('../data/data/raw/val_values.parquet')
validation_labels = pd.read_parquet('../data/data/raw/val_labels.parquet')
print(len(validation_labels))

137353

In [4]:
test_samples = pd.read_parquet('../data/data/raw/test_values.parquet')
test_labels = pd.read_parquet('../data/data/raw/test_labels.parquet')
print(len(test_labels))

137353

In [5]:
test_samples.head()

                                                   values
20368   ['Central Missouri', 'unattached', 'unattached...
664102  [95, 100, 95, 89, 84, 91, 88, 94, 75, 78, 90, ...
366813  ['Katie Crews', 'Christian Hiraldo', 'Alex Est...
530567  ['Christian', 'Non-Christian', 'Unreported', '...
176253  ['AAF-McQuay Canada Inc.', 'AAF-McQuay Canada ...

In [6]:
test_labels.head()

               type
20368   affiliation
664102       weight
366813       jockey
530567     religion
176253      company

## Extract features
It is important that the string-representations of lists are first converted into lists of strings.
The labels should be a list of semantic types.

In [7]:
# 3 miniutes 38 seconds
train_samples_converted, y_train = convert_string_lists_to_lists(train_samples.head(80000), train_labels.head(80000), "values", "type")
val_samples_converted, y_val = convert_string_lists_to_lists(validation_samples.head(10000), validation_labels.head(10000), "values", "type")
test_samples_converted, y_test = convert_string_lists_to_lists(test_samples.head(20000), test_labels.head(20000), "values", "type")

100%|███████████████████████████████████████████████████████████████████████████| 80000/80000 [01:36<00:00, 825.37it/s]
100%|███████████████████████████████████████████████████████████████████████████| 20000/20000 [01:03<00:00, 313.94it/s]

In [8]:
test_samples_converted.head()

20368     [Central Missouri, unattached, unattached, Kan...
664102    [95, 100, 95, 89, 84, 91, 88, 94, 75, 78, 90, ...
366813    [Katie Crews, Christian Hiraldo, Alex Estrada,...
530567    [Christian, Non-Christian, Unreported, Jewish,...
176253    [AAF-McQuay Canada Inc., AAF-McQuay Canada Inc...
Name: values, dtype: object

In [9]:
len(test_samples_converted)

20000

In [10]:
# 每個sample都是list of strings
type(test_samples_converted.iloc[0])

list

In [11]:
test_samples_len = [len(x) for x in list(test_samples_converted)]
print(f"max len smaple:{np.max(test_samples_len)}")
print(f"min len smaple:{np.min(test_samples_len)}")

max len smaple:14641819
min len smaple:1

In [12]:
test_samples_converted[:2]

20368     [Central Missouri, unattached, unattached, Kan...
664102    [95, 100, 95, 89, 84, 91, 88, 94, 75, 78, 90, ...
Name: values, dtype: object

## Extract features-2

In [ ]:
%%time
X_train = extract_features(train_samples_converted.head(80000))
#X_val = extract_features(val_samples_converted.head(10000))
X_test = extract_features(test_samples_converted.head(20000))

Preparing feature extraction by downloading 2 files:

 ../sherlock/features/glove.6B.50d.txt and
 ../sherlock/features/par_vec_trained_400.pkl.docvecs.vectors_docs.npy.

All files for extracting word and paragraph embeddings are present.

C:\ProgramData\Anaconda3\envs\Sherlock\lib\site-packages\pandas\core\strings.py:167: FutureWarning: Possible nested set at position 1
  regex = re.compile(pat, flags=flags)

Extracting features for data column: 100
Extracting features for data column: 200
Extracting features for data column: 300
Extracting features for data column: 400
Extracting features for data column: 500
Extracting features for data column: 600
Extracting features for data column: 700
Extracting features for data column: 800
Extracting features for data column: 900
Extracting features for data column: 1000
Extracting features for data column: 1100
Extracting features for data column: 1200
Extracting features for data column: 1300
Extracting features for data column: 1400
Extracting features for data column: 1500
Extracting features for data column: 1600
Extracting features for data column: 1700
Extracting features for data column: 1800
Extracting features for data column: 1900
Extracting features for data column: 2000
Extracting features for data column: 2100
Extracting features for data column: 2200
Extracting features for data column: 2300
Extracting features for data column: 2400
Extracting features for data column: 2500
Extracting features for data column: 2600
Extracting features for data column: 2700
Extracting features for data column: 2800
Extracting features for data column: 2900
Extracting features for data column: 3000
Extracting features for data column: 3100
Extracting features for data column: 3200
Extracting features for data column: 3300
Extracting features for data column: 3400
Extracting features for data column: 3500
Extracting features for data column: 3600
Extracting features for data column: 3700
Extracting features for data column: 3800
Extracting features for data column: 3900
Extracting features for data column: 4000
Extracting features for data column: 4100
Extracting features for data column: 4200
Extracting features for data column: 4300
Extracting features for data column: 4400
Extracting features for data column: 4500
Extracting features for data column: 4600
Extracting features for data column: 4700
Extracting features for data column: 4800
Extracting features for data column: 4900
Extracting features for data column: 5000
Extracting features for data column: 5100
Extracting features for data column: 5200
Extracting features for data column: 5300
Extracting features for data column: 5400
Extracting features for data column: 5500
Extracting features for data column: 5600
Extracting features for data column: 5700
Extracting features for data column: 5800
Extracting features for data column: 5900
Extracting features for data column: 6000
Extracting features for data column: 6100
Extracting features for data column: 6200
Extracting features for data column: 6300
Extracting features for data column: 6400
Extracting features for data column: 6500
Extracting features for data column: 6600
Extracting features for data column: 6700
Extracting features for data column: 6800
Extracting features for data column: 6900
Extracting features for data column: 7000
Extracting features for data column: 7100
Extracting features for data column: 7200
Extracting features for data column: 7300
Extracting features for data column: 7400
Extracting features for data column: 7500
Extracting features for data column: 7600
Extracting features for data column: 7700
Extracting features for data column: 7800
Extracting features for data column: 7900
Extracting features for data column: 8000
Extracting features for data column: 8100
Extracting features for data column: 8200
Extracting features for data column: 8300
Extracting features for data column: 8400
Extracting features for data column: 8500
Extracting features for data column: 8600
Extracting features for data column: 8700
Extracting features for data column: 8800
Extracting features for data column: 8900
Extracting features for data column: 9000
Extracting features for data column: 9100
Extracting features for data column: 9200
Extracting features for data column: 9300
Extracting features for data column: 9400
Extracting features for data column: 9500
Extracting features for data column: 9600
Extracting features for data column: 9700
Extracting features for data column: 9800
Extracting features for data column: 9900
Extracting features for data column: 10000
Extracting features for data column: 10100
Extracting features for data column: 10200
Extracting features for data column: 10300
Extracting features for data column: 10400
Extracting features for data column: 10500
Extracting features for data column: 10600
Extracting features for data column: 10700
Extracting features for data column: 10800
Extracting features for data column: 10900
Extracting features for data column: 11000
Extracting features for data column: 11100
Extracting features for data column: 11200
Extracting features for data column: 11300
Extracting features for data column: 11400
Extracting features for data column: 11500
Extracting features for data column: 11600
Extracting features for data column: 11700
Extracting features for data column: 11800
Extracting features for data column: 11900
Extracting features for data column: 12000
Extracting features for data column: 12100
Extracting features for data column: 12200
Extracting features for data column: 12300
Extracting features for data column: 12400
Extracting features for data column: 12500
Extracting features for data column: 12600
Extracting features for data column: 12700
Extracting features for data column: 12800
Extracting features for data column: 12900
Extracting features for data column: 13000
Extracting features for data column: 13100
Extracting features for data column: 13200
Extracting features for data column: 13300
Extracting features for data column: 13400
Extracting features for data column: 13500
Extracting features for data column: 13600
Extracting features for data column: 13700
Extracting features for data column: 13800
Extracting features for data column: 13900
Extracting features for data column: 14000
Extracting features for data column: 14100
Extracting features for data column: 14200
Extracting features for data column: 14300
Extracting features for data column: 14400
Extracting features for data column: 14500
Extracting features for data column: 14600
Extracting features for data column: 14700
Extracting features for data column: 14800
Extracting features for data column: 14900
Extracting features for data column: 15000
Extracting features for data column: 15100
Extracting features for data column: 15200

In [ ]:
#%%time
#_ = extract_features_chars(test_samples_converted.head(100))

#_ = extract_features_words(test_samples_converted.head(100))

#_ = extract_features_paras(test_samples_converted.head(100))

#_ = extract_features_embed(test_samples_converted.head(100))

In [ ]:
#list(X_test.keys())[:959] # character distribution(960)

In [ ]:
#list(X_test.keys())[960:1161] # word embedding features(201)

In [ ]:
list(X_test.keys())[1161:1188] # global statistic(27)

In [ ]:
#list(X_test.keys())[1188:1588] # paragraph vector(400)

In [ ]:
X_test.head()

In [ ]:
X_test.shape

## Impute NaN values with feature means

In [ ]:
train_columns_means = pd.DataFrame(X_train.mean()).transpose()

In [ ]:
X_train.fillna(train_columns_means.iloc[0], inplace=True)
X_val.fillna(train_columns_means.iloc[0], inplace=True)
X_test.fillna(train_columns_means.iloc[0], inplace=True)

## Retrain sherlock
The model can be retrained using the code below. The model is currently restricted to be trained on 78 classes, the code of the model architecture will soon be added for adjusting this.

In [ ]:
train_sherlock(X_train, y_train, X_test, y_test, nn_id='retrained_sherlock');
print('Trained and saved new model.')

## Generate predictions with a model
If you want to use the pretrained Sherlock model `nn_id` set to "sherlock".

If you want to use another model, you can use the identifier corresponding to that model.

**Note**: There is a bug somewhere in the refactored code which affects the model predictions, this should be fixed soon.

In [ ]:
predicted_labels = predict_sherlock(X_test, nn_id='sherlock')

In [ ]:
predicted_labels

In [ ]:
y_test_subset

In [ ]:
# Should be fully deterministic too.
f1_score(y_test_subset, predicted_labels[:25],average='weighted')

In [ ]:
f1_score

In [ ]:
pd.Series(predicted_labels).nunique()

In [ ]:
pd.Series(y_test_subset).nunique()

## Generate predictions with preprocessed data using Sherlock

Requires the data to be downloaded from Google Drive (see first step in notebook).

In [ ]:
X_test_preprocessed = pd.read_parquet("../data/data/processed/X_test.parquet")
y_test_preprocessed = pd.read_parquet("../data/data/processed/y_test.parquet").reset_index(drop=True)

In [ ]:
X_test_preprocessed.head()

In [ ]:
y_test_preprocessed.head()

In [ ]:
predicted_labels = predict_sherlock(X_test_preprocessed, 'sherlock')

In [ ]:
f1_score(y_test_preprocessed, predicted_labels, average='weighted')

In [ ]:
pd.Series(predicted_labels).nunique()

In [ ]:
pd.Series(y_test).nunique()

## How to prepare our data for Sherlock?